@import "tailwindcss";

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  touch-action: manipulation;
}

body {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

input, select, textarea, button {
  font-size: 16px !important;
  touch-action: manipulation;
}